version: "3"
services:
  postgres:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: quentin
      POSTGRES_DB: discordbot
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
